<!-- JavaScript files-->
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/popper.min.js' | prepend: site.baseurl | prepend: site.url }}"> </script>
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/jquery.cookie.js' | prepend: site.baseurl | prepend: site.url }}"> </script>
<script src="{{ '/js/jquery.scrollTo.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/ekko-lightbox.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/owl.carousel.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/masonry.pkgd.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/front.js' | prepend: site.baseurl | prepend: site.url }}"></script>