<p class="social social--big">
    {% if site.facebook %}
    <a href="{{ site.facebook }}" class="facebook">
        <i class="fa fa-facebook"></i>
    </a>
    {% endif %}
    {% if site.googleplus %}
    <a href="{{ site.googleplus }}" class="gplus">
        <i class="fa fa-google-plus"></i>
    </a>
    {% endif %}
    {% if site.twitter %}
    <a href="{{ site.twitter }}" class="twitter">
        <i class="fa fa-twitter"></i>
    </a>
    {% endif %}
    {% if site.instagram %}
    <a href="{{ site.instagram }}" title="" class="instagram">
        <i class="fa fa-instagram"></i>
    </a>
    {% endif %}
    {% if site.envelope %}
    <a href="mailto:{{ site.envelope }}" class="email">
        <i class="fa fa-envelope"></i>
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a href="{{ site.linkedin }}">
        <i class="fa fa-linkedin"></i>
    </a>
    {% endif %}
    {% if site.stackoverflow %}
    <a href="{{ site.stackoverflow }}">
        <i class="fa fa-stack-overflow"></i>
    </a>
    {% endif %}
    {% if site.github %}
    <a href="{{ site.github }}">
        <i class="fa fa-github"></i>
    </a>
    {% endif %}
    {% if site.youtube %}
    <a href="{{ site.youtube }}">
        <i class="fa fa-youtube"></i>
    </a>
    {% endif %}
    {% if site.whatsapp %}
    <a href="{{ site.whatsapp }}" data-animate-hover="pulse" class="external">
        <i class="fa fa-whatsapp"></i>
    </a>
    {% endif %}
</p>